# Data Cleaning 

#### 1. Import pandas library.

In [8]:
import pandas as pd

#### 2. Import pymysql and sqlalchemy as you have learnt in the lesson of importing/exporting data.

In [7]:
import pymysql
from sqlalchemy import create_engine

#### 3. Create a mysql engine to set the connection to the server. Check the connection details in [this link](https://relational.fit.cvut.cz/dataset/Stats).

In [9]:
engine = create_engine('mysql+pymysql://root:Ironhack@localhost/User')

#### 4. Import the users table.

In [20]:
user = pd.read_sql_query('SELECT * FROM User.users', engine)
print(user)

          Id  Reputation        CreationDate          DisplayName  \
0         -1           1 2010-07-19 06:55:26            Community
1          2         101 2010-07-19 14:01:36         Geoff Dalgas
2          3         101 2010-07-19 15:34:50         Jarrod Dixon
3          4         101 2010-07-19 19:03:27               Emmett
4          5        6792 2010-07-19 19:03:57                Shane
5          6         457 2010-07-19 19:04:07               Harlan
6          7         429 2010-07-19 19:04:37                Vince
7          8        6764 2010-07-19 19:04:52          csgillespie
8         10         121 2010-07-19 19:05:40               Pierre
9         11         136 2010-07-19 19:06:02             wahalulu
10        12         101 2010-07-19 19:06:34                  Jin
11        13         817 2010-07-19 19:06:49              Sharpie
12        15          11 2010-07-19 19:07:32        hannes.koller
13        16         101 2010-07-19 19:08:13            slashnick
14        17         345 2010-07-19 19:08:28               Random
15        18         128 2010-07-19 19:08:29               grokus
16        19         101 2010-07-19 19:08:45          Noah Snyder
17        21         101 2010-07-19 19:08:56   Waleed Al-Balooshi
18        22         591 2010-07-19 19:09:00                radek
19        23         308 2010-07-19 19:09:16          Jay Stevens
20        24         344 2010-07-19 19:09:32               A Lion
21        25        4968 2010-07-19 19:09:32      Harvey Motulsky
22        26        3150 2010-07-19 19:09:39                  JMS
23        27         101 2010-07-19 19:09:41               balpha
24        29        2250 2010-07-19 19:09:42              JD Long
25        30        2185 2010-07-19 19:10:15                gappy
26        33         221 2010-07-19 19:11:08           James Roth
27        34         185 2010-07-19 19:11:11  Christopher D. Long
28        35         101 2010-07-19 19:11:38                adi92
29        36        1570 2010-07-19 19:11:52       Stephen Turner
...      ...         ...                 ...                  ...
40295  55718           6 2014-09-13 07:12:49                Amena
40296  55719           1 2014-09-13 07:19:09   OGUNNUSI OLUWATOBI
40297  55720           1 2014-09-13 08:00:08              Rebecca
40298  55721         101 2014-09-13 08:15:38           Lotte Laat
40299  55722           1 2014-09-13 08:32:22            WojciechF
40300  55723           1 2014-09-13 09:29:38  Davidson Salvia Jr.
40301  55724          16 2014-09-13 09:50:11            ouroboros
40302  55725           1 2014-09-13 09:53:01         Jatin Baveja
40303  55726           1 2014-09-13 09:54:27     SuPakarn Junfang
40304  55727           1 2014-09-13 10:03:06         biggvsdiccvs
40305  55728           1 2014-09-13 10:48:35            user56299
40306  55729          16 2014-09-13 11:04:54        Achim Zeileis
40307  55730           1 2014-09-13 12:01:38           quants_mum
40308  55731           1 2014-09-13 15:23:34             Kiran BM
40309  55732         101 2014-09-13 15:31:37     Szil√°rd Pfeiffer
40310  55733           6 2014-09-13 15:51:18                  Pax
40311  55734           1 2014-09-13 15:56:55                jalen
40312  55735           1 2014-09-13 16:21:29               Mukund
40313  55736           1 2014-09-13 16:29:11                liszt
40314  55737           1 2014-09-13 17:53:27             oolusola
40315  55738          11 2014-09-13 18:06:50                guest
40316  55739           1 2014-09-13 19:06:17              kpivert
40317  55740           1 2014-09-13 19:12:19            Nikkolasg
40318  55741         101 2014-09-13 20:19:48             Jutschge
40319  55742           6 2014-09-13 20:36:55          Sayan Ghosh
40320  55743           1 2014-09-13 21:03:50            AussieMeg
40321  55744           6 2014-09-13 21:39:30            Mia Maria
40322  55745         101 2014-09-13 23:45:27         tronbabylove
40323  55746         106 2014-09-14 00:29:41                  GPP
40324  55747           1 2014-09-14 01:01:44       Shivam Agrawal

           LastAccessDate                                    WebsiteUrl  \
0     2010-07-19 06:55:26                http://meta.stackexchange.com/
1     2013-11-12 22:07:23                      http://stackoverflow.com
2     2014-08-08 06:42:58                      http://stackoverflow.com
3     2014-01-02 09:31:02                  http://minesweeperonline.com
4     2014-08-13 00:23:47                       http://www.statalgo.com
5     2014-08-07 19:49:44                 http://www.harlan.harris.name
6     2014-09-10 21:14:12             http://bioinformatics.ucdavis.edu
7     2014-09-09 21:15:08              http://www.mas.ncl.ac.uk/~ncsg3/
8     2014-07-28 18:15:02               http://plindenbaum.blogspot.com
9     2014-07-23 21:28:18       http://www.linkedin.com/in/marckvaisman
10    2014-09-09 20:26:03                           http://www.8164.org
11    2014-08-14 17:28:14                     http://www.sharpsteen.net
12    2010-08-24 14:23:18                         http://soma.denkt.org
13    2010-08-19 20:40:59                                          None
14    2010-09-10 07:34:36                                          None
15    2012-08-09 15:02:00                          http://wikipedia.org
16    2012-06-17 15:53:43                http://sbseminar.wordpress.com
17    2011-09-26 02:28:45                                          None
18    2014-09-11 15:21:01                                          None
19    2014-08-11 19:51:32               http://www.centerlinescores.com
20    2011-12-06 04:21:56                                          None
21    2014-09-13 21:51:42                       http://www.graphpad.com
22    2014-09-13 04:03:25                                          None
23    2014-04-14 14:57:17                             http://balpha.de/
24    2014-08-11 19:14:03                http://cerebralmastication.com
25    2014-08-27 20:06:28              http://www.twitter.com/gappy3000
26    2014-09-08 21:15:20                                          None
27    2014-09-13 00:02:35         http://angrystatistician.blogspot.com
28    2014-08-13 06:05:38  http://www.contrib.andrew.cmu.edu/~amukherj/
29    2014-08-29 15:17:07      http://gettinggeneticsdone.blogspot.com/
...                   ...                                           ...
40295 2014-09-13 07:12:49                                          None
40296 2014-09-13 08:03:19                                          None
40297 2014-09-13 08:00:08                                          None
40298 2014-09-13 08:15:38                                          None
40299 2014-09-13 08:32:22             http://about.me/wojciechfrancuzik
40300 2014-09-13 09:29:38                                          None
40301 2014-09-13 10:05:17                                          None
40302 2014-09-13 15:25:42                                          None
40303 2014-09-13 13:10:43                                          None
40304 2014-09-13 10:03:06                                          None
40305 2014-09-13 10:48:35                                          None
40306 2014-09-13 12:15:21                                          None
40307 2014-09-13 12:01:38                                          None
40308 2014-09-13 20:51:55                                          None
40309 2014-09-13 15:31:37                 http://www.pfeifferszilard.hu
40310 2014-09-13 23:57:22                                          None
40311 2014-09-13 15:56:55                                          None
40312 2014-09-13 16:21:29                                          None
40313 2014-09-13 16:29:11                                          None
40314 2014-09-13 17:53:27                                          None
40315 2014-09-14 01:34:01                                          None
40316 2014-09-13 19:06:17                                          None
40317 2014-09-13 19:46:29                                          None
40318 2014-09-13 20:19:48                                          None
40319 2014-09-13 22:04:00                                          None
40320 2014-09-13 21:18:52                                          None
40321 2014-09-13 21:39:30                                          None
40322 2014-09-13 23:45:27                                          None
40323 2014-09-14 02:05:17                                          None
40324 2014-09-14 01:19:04                                          None

                        Location  \
0             on the server farm
1                  Corvallis, OR
2                   New York, NY
3              San Francisco, CA
4                   New York, NY
5           District of Columbia
6                      Davis, CA
7      Newcastle, United Kingdom
8                         France
9                 Washington, DC
10                   Raleigh, NC
11                 United States
12               Vienna, Austria
13        London, United Kingdom
14                          None
15                 United States
16                  New York, NY
17                      Michigan
18            Berne, Switzerland
19                          None
20                          None
21               Santa Monica CA
22                          None
23               Berlin, Germany
24                   Chicago, IL
25                  New York, NY
26                          None
27                Versailles, KY
28                Pittsburgh, PA
29                 Nashville, TN
...                          ...
40295                       None
40296                       None
40297                       None
40298       Tilburg, Netherlands
40299                       None
40300                       None
40301                       None
40302                       None
40303                       None
40304                       None
40305                       None
40306                       None
40307                       None
40308                       None
40309                    Hungary
40310                       None
40311                       None
40312                       None
40313                       None
40314                       None
40315                       None
40316                       None
40317                       None
40318                Switzerland
40319                       None
40320                       None
40321                       None
40322              United States
40323                       None
40324                      India

                                                 AboutMe  Views  UpVotes  \
0      <p>Hi, I'm not really a person.</p>\n\n<p>I'm ...      0     5007
1      <p>Developer on the StackOverflow team.  Find ...     25        3
2      <p><a href="http://blog.stackoverflow.com/2009...     22       19
3      <p>currently at a startup in SF</p>\n\n<p>form...     11        0
4      <p>Quantitative researcher focusing on statist...   1145      662
5      <ul>\n<li>PhD in CS/AI/Machine Learning/Cognit...    114       47
6      I'm a recent graduate of UC Davis in Economics...     56       20
7      <p>I'm a statistics lecturer at Newcastle Univ...   1089      604
8      Bioinformatician\\nVirology\\nGenetics\\nBiolo...     20        2
9      <p>data_stuff &lt;- paste('data', c('scientist...     10       10
10     <p>I design stuff for Stack Exchange. Also a p...     10        5
11     Undergraduate studying Environmental Engineeri...    178       44
12                                                  None      8        0
13                                                  None      4        7
14                                                  None     14       13
15                           <p>Software engineer.</p>\n      8       16
16     <p>I'm an assistant professor in mathematics a...     13        2
17                                                  None      6        0
18     <p>Researcher in spatial epidemiology &amp; GI...     90      693
19     <p>I design and build Grant and Program manage...     52       34
20                                                  None     48       36
21     <p>I am the founder and CEO of <a href="http:/...    641      328
22                                                  None    257      138
23     <p>My name is Benjamin Dumke-von der Ehe. I am...     10        2
24     I'm a data guy not a programmer. But sometimes...    318       28
25     <p>Interested primarily in econometric analysi...    312       40
26                                                  None     11        2
27     <p>Consulting analyst for the San Diego Padres...     27       23
28                                                  None      4        9
29     <p>I'm finishing up my Ph.D. in Human Genetics...    173       26
...                                                  ...    ...      ...
40295                                               None      0        0
40296                                               None      1        0
40297                                               None      0        0
40298  <p>I like maths, swimming, food and penguins!<...      0        1
40299  <p>MD mesmerized by data science, TeX user, R ...      0        0
40300                                               None      0        0
40301  <p>I'm a self-taught programmer and linux powe...      1        0
40302                                               None      0        0
40303                                               None      0        0
40304                                               None      0        0
40305                                               None      0        0
40306                                               None      1        0
40307                                               None      0        0
40308                                               None      0        0
40309                                               None      0        0
40310                                               None      1        0
40311                                               None      0        0
40312                                               None      0        0
40313                                               None      0        0
40314                                               None      0        0
40315                                               None      0        0
40316                                               None      0        0
40317  <p>Be the change that you want to see in the w...      0        0
40318                                               None      0        1
40319                                               None      0        0
40320                                               None      0        0
40321                                               None      1        0
40322                                               None      0        0
40323  <p>Stats noobie, product, marketing &amp; medi...      1        0
40324                         <p>Maths Enthusiast </p>\n      0        0

       DownVotes  AccountId   Age  \
0           1920         -1   NaN
1              0          2  37.0
2              0          3  35.0
3              0       1998  28.0
4              5      54503  35.0
5              0      46050  41.0
6              0      49514  28.0
7             25      70002  36.0
8              0      23234  44.0
9              0      47893  40.0
10             0      21721  38.0
11             1      46029  28.0
12             0     189902  35.0
13             0      10996  31.0
14             1     509454   NaN
15             0      69872  44.0
16             0     501919  34.0
17             0      40640  33.0
18             6     124416   NaN
19             1      21565  46.0
20             1      85249   NaN
21            23     504968  62.0
22             7     134002   NaN
23             0      40051  34.0
24             1      17035  42.0
25             3      48399   NaN
26             0     137440   NaN
27             0     509455   NaN
28             0      13043  26.0
29             1     330276  31.0
...          ...        ...   ...
40295          0    5024818   NaN
40296          0    5024833   NaN
40297          0    5024897   NaN
40298          0    1402294  23.0
40299          0    3943551   NaN
40300          0    5025125   NaN
40301          0    3620179   NaN
40302          0    5025186   NaN
40303          0    5025192   NaN
40304          0    3293263   NaN
40305          0    3808774   NaN
40306          0    5025362   NaN
40307          0    5025477   NaN
40308          0    5025991   NaN
40309          0    1447761  36.0
40310          0    5026082   NaN
40311          0    5026094   NaN
40312          0    3335078   NaN
40313          0     510194   NaN
40314          0    5026427   NaN
40315          0    5026468   NaN
40316          0    5026613   NaN
40317          0    1239737   NaN
40318          0    3142440   NaN
40319          0    5026843   NaN
40320          0    5026902   NaN
40321          0    5026998   NaN
40322          0     481766   NaN
40323          0     976289   NaN
40324          0    5027354   NaN

                                         ProfileImageUrl
0                                                   None
1                                                   None
2                                                   None
3                     http://i.stack.imgur.com/d1oHX.jpg
4                                                   None
5                                                   None
6                                                   None
7                                                   None
8                                                   None
9                                                   None
10                                                  None
11                                                  None
12                                                  None
13                                                  None
14                                                  None
15                                                  None
16                                                  None
17                                                  None
18                                                  None
19                                                  None
20                                                  None
21                                                  None
22                                                  None
23                                                  None
24                                                  None
25                                                  None
26                                                  None
27                    http://i.stack.imgur.com/km1pr.jpg
28                                                  None
29                                                  None
...                                                  ...
40295                                               None
40296                                               None
40297  https://www.gravatar.com/avatar/2bc72d263cc5a8...
40298  https://www.gravatar.com/avatar/a52832f3202953...
40299  https://www.gravatar.com/avatar/285ba1e160c296...
40300  http://graph.facebook.com/100000041001887/pict...
40301  https://www.gravatar.com/avatar/1f8dbbc900087e...
40302  https://lh3.googleusercontent.com/-8iERz9S6Zr8...
40303  https://lh6.googleusercontent.com/--7hwjXqt-Zs...
40304  https://www.gravatar.com/avatar/c9e31787de1366...
40305                                               None
40306                                               None
40307                                               None
40308                                               None
40309  https://www.gravatar.com/avatar/70c18b82b058c1...
40310  https://www.gravatar.com/avatar/d9b1e7660eb8ed...

#### 5. Rename Id column to userId.

In [35]:
user2=user.rename(columns={'Id':'userID'})
user2.head()

,userID,Reputation,CreationDate,DisplayName,LastAccessDate,WebsiteUrl,Location,AboutMe,Views,UpVotes,DownVotes,AccountId,Age,ProfileImageUrl
0,-1,1,2010-07-19 06:55:26,Community,2010-07-19 06:55:26,http://meta.stackexchange.com/,on the server farm,"<p>Hi, I'm not really a person.</p>\n\n<p>I'm ...",0,5007,1920,-1,NaN,None
1,2,101,2010-07-19 14:01:36,Geoff Dalgas,2013-11-12 22:07:23,http://stackoverflow.com,"Corvallis, OR",<p>Developer on the StackOverflow team. Find ...,25,3,0,2,37.0,None
2,3,101,2010-07-19 15:34:50,Jarrod Dixon,2014-08-08 06:42:58,http://stackoverflow.com,"New York, NY","<p><a href=""http://blog.stackoverflow.com/2009...",22,19,0,3,35.0,None
3,4,101,2010-07-19 19:03:27,Emmett,2014-01-02 09:31:02,http://minesweeperonline.com,"San Francisco, CA",<p>currently at a startup in SF</p>\n\n<p>form...,11,0,0,1998,28.0,http://i.stack.imgur.com/d1oHX.jpg
4,5,6792,2010-07-19 19:03:57,Shane,2014-08-13 00:23:47,http://www.statalgo.com,"New York, NY",<p>Quantitative researcher focusing on statist...,1145,662,5,54503,35.0,None

#### 6. Import the posts table.

In [30]:
post = pd.read_sql_query('SELECT * FROM User.posts', engine)
post.head()

,Id,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,OwnerUserId,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 7. Rename Id column to postId and OwnerUserId to userId.

In [32]:
post2=post.rename(columns={'Id':'postID','OwnerUserId':'userID'})
post2.head()

,postID,PostTypeId,AcceptedAnswerId,CreaionDate,Score,ViewCount,Body,userID,LasActivityDate,Title,...,AnswerCount,CommentCount,FavoriteCount,LastEditorUserId,LastEditDate,CommunityOwnedDate,ParentId,ClosedDate,OwnerDisplayName,LastEditorDisplayName
0,1,1,15.0,2010-07-19 19:12:12,23,1278.0,<p>How should I elicit prior distributions fro...,8.0,2010-09-15 21:08:26,Eliciting priors from experts,...,5.0,1,14.0,NaN,NaT,NaT,NaN,NaT,None,None
1,2,1,59.0,2010-07-19 19:12:57,22,8198.0,<p>In many different statistical methods there...,24.0,2012-11-12 09:21:54,What is normality?,...,7.0,1,8.0,88.0,2010-08-07 17:56:44,NaT,NaN,NaT,None,None
2,3,1,5.0,2010-07-19 19:13:28,54,3613.0,<p>What are some valuable Statistical Analysis...,18.0,2013-05-27 14:48:36,What are some valuable Statistical Analysis op...,...,19.0,4,36.0,183.0,2011-02-12 05:50:03,2010-07-19 19:13:28,NaN,NaT,None,None
3,4,1,135.0,2010-07-19 19:13:31,13,5224.0,<p>I have two groups of data. Each with a dif...,23.0,2010-09-08 03:00:19,Assessing the significance of differences in d...,...,5.0,2,2.0,NaN,NaT,NaT,NaN,NaT,None,None
4,5,2,NaN,2010-07-19 19:14:43,81,NaN,"<p>The R-project</p>\n\n<p><a href=""http://www...",23.0,2010-07-19 19:21:15,None,...,NaN,3,NaN,23.0,2010-07-19 19:21:15,2010-07-19 19:14:43,3.0,NaT,None,None

#### 8. Define new dataframes for users and posts with the following selected columns:
**users columns**: userId, Reputation, Views, UpVotes, DownVotes  
**posts columns**: postId, Score, userID, ViewCount, CommentCount

In [47]:
newusers= user2[['userID', 'Reputation', 'Views', 'UpVotes', 'DownVotes']]
newusers.head()
newposts=post2[['postID', 'Score', 'userID', 'ViewCount', 'CommentCount']]
newposts.head(60)

    postID  Score  userID  ViewCount  CommentCount
0        1     23     8.0     1278.0             1
1        2     22    24.0     8198.0             1
2        3     54    18.0     3613.0             4
3        4     13    23.0     5224.0             2
4        5     81    23.0        NaN             3
5        6    152     5.0    29229.0             5
6        7     76    38.0     5808.0             3
7        8      0    37.0      288.0             2
8        9     13    50.0        NaN             3
9       10     23    24.0    21925.0             4
10      11      2    34.0      224.0             2
11      12     20     5.0        NaN             1
12      13     14    23.0        NaN             4
13      14      5    36.0        NaN             1
14      15     13     6.0        NaN             0
15      16     16     8.0        NaN             3
16      17      9     NaN     1261.0             0
17      18     31    36.0        NaN             1
18      19     12    55.0        NaN             0
19      20      3    37.0        NaN             2
20      21      4    59.0      184.0             1
21      22    102    66.0    21916.0             1
22      23     10    69.0     7694.0             1
23      24     17    61.0        NaN             0
24      25      7    69.0     2095.0             4
25      26     18    75.0     3476.0            14
26      27      4    68.0        NaN             0
27      28      6     NaN        NaN             0
28      29      5    36.0        NaN             0
29      30      7    69.0      705.0             2
30      31     66    13.0   175495.0             3
31      32     12     5.0        NaN             0
32      33      5    69.0     1428.0             1
33      34      3    79.0        NaN             0
34      35     10    54.0     1223.0             0
35      36     41     8.0    67396.0             7
36      38      2    61.0        NaN             2
37      39      4    59.0      210.0             0
38      40      8    69.0      491.0             1
39      41      8    83.0        NaN             0
40      42     12    80.0        NaN             3
41      43      7    74.0        NaN             5
42      44      8    68.0      453.0             1
43      45      5    55.0        NaN             1
44      46      0    62.0        NaN             2
45      47      7    22.0      312.0             2
46      48      3    36.0        NaN             4
47      49      6     5.0        NaN             0
48      50     18    62.0     2414.0             4
49      51      1    68.0      120.0             0
50      52      7    36.0        NaN             0
51      53     40    17.0    25962.0             4
52      54     11    55.0      497.0             5
53      55      7    56.0        NaN             0
54      56     56     NaN        NaN             7
55      57      2    69.0        NaN             4
56      58     10    68.0     1667.0             0
57      59     24    39.0        NaN             1
58      60      1    41.0        NaN             1
59      61     22    74.0        NaN             5

#### 9. Merge the new dataframes you have created, of users and posts. 
You will need to make an inner [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [41]:
merged=newusers.merge(newposts)
#inner is default

#### 10. How many missing values do you have in your merged dataframe? On which columns?

In [43]:
missing = merged.isnull().sum()
missing[missing > 0]#48396 missing values all in Column ViewCount

ViewCount    48396
dtype: int64

#### 11. You will need to make something with missing values.  Will you clean or filling them? Explain. 
**Remember** to check the results of your code before going to the next step.

In [62]:
merged.shape
#A number for Viewcount is missing in aproximately 50% of all cases 48396 of 90584
#all posts with NaN seem to be "Reposts"
#So gonna fill a 0 where there is a NaN
merged.head(60)

,userID,Reputation,Views,UpVotes,DownVotes,postID,Score,ViewCount,CommentCount
0,-1,1,0,5007,1920,2175,0,0,0
1,-1,1,0,5007,1920,8576,0,0,0
2,-1,1,0,5007,1920,8578,0,0,0
3,-1,1,0,5007,1920,8981,0,0,0
4,-1,1,0,5007,1920,8982,0,0,0
5,-1,1,0,5007,1920,9857,0,0,0
6,-1,1,0,5007,1920,9858,0,0,0
7,-1,1,0,5007,1920,9860,0,0,0
8,-1,1,0,5007,1920,10130,0,0,0
9,-1,1,0,5007,1920,10131,0,0,0
10,-1,1,0,5007,1920,15331,0,0,0
11,-1,1,0,5007,1920,15332,0,0,0
12,-1,1,0,5007,1920,16296,0,0,0
13,-1,1,0,5007,1920,16366,0,0,0
14,-1,1,0,5007,1920,19423,0,0,0
15,-1,1,0,5007,1920,19848,0,0,0
16,-1,1,0,5007,1920,20259,0,0,0
17,-1,1,0,5007,1920,20261,0,0,0
18,-1,1,0,5007,1920,20262,0,0,0
19,-1,1,0,5007,1920,20263,0,0,0
20,-1,1,0,5007,1920,20264,0,0,0
21,-1,1,0,5007,1920,20485,0,0,0
22,-1,1,0,5007,1920,20487,0,0,0
23,-1,1,0,5007,1920,20489,0,0,0
24,-1,1,0,5007,1920,20490,0,0,0
25,-1,1,0,5007,1920,21497,0,0,0
26,-1,1,0,5007,1920,21795,0,0,0
27,-1,1,0,5007,1920,21856,0,0,0
28,-1,1,0,5007,1920,21860,0,0,0
29,-1,1,0,5007,1920,21861,0,0,0
30,-1,1,0,5007,1920,21862,0,0,0
31,-1,1,0,5007,1920,21864,0,0,0
32,-1,1,0,5007,1920,21876,0,0,0
33,-1,1,0,5007,1920,21878,0,0,0
34,-1,1,0,5007,1920,21882,0,0,0
35,-1,1,0,5007,1920,23847,0,0,0
36,-1,1,0,5007,1920,27148,0,0,0
37,-1,1,0,5007,1920,28215,0,0,0
38,-1,1,0,5007,1920,28223,0,0,0
39,-1,1,0,5007,1920,28240,0,0,0
40,-1,1,0,5007,1920,28260,0,0,0
41,-1,1,0,5007,1920,28263,0,0,0
42,-1,1,0,5007,1920,28267,0,0,0
43,-1,1,0,5007,1920,28269,0,0,0
44,-1,1,0,5007,1920,28275,0,0,0
45,-1,1,0,5007,1920,28277,0,0,0
46,-1,1,0,5007,1920,28279,0,0,0
47,-1,1,0,5007,1920,28281,0,0,0
48,-1,1,0,5007,1920,28296,0,0,0
49,-1,1,0,5007,1920,28304,0,0,0
50,-1,1,0,5007,1920,28324,0,0,0
51,-1,1,0,5007,1920,28331,0,0,0
52,-1,1,0,5007,1920,28333,0,0,0
53,-1,1,0,5007,1920,28335,0,0,0
54,-1,1,0,5007,1920,28410,0,0,0
55,-1,1,0,5007,1920,28452,0,0,0
56,-1,1,0,5007,1920,28534,0,0,0
57,-1,1,0,5007,1920,28791,0,0,0
58,-1,1,0,5007,1920,28899,0,0,0
59,-1,1,0,5007,1920,28926,0,0,0

#### 12. Adjust the data types in order to avoid future issues. Which ones should be changed?

In [61]:
merged.dtypes
#Trying to change ViewCount to int as well
merged["ViewCount"]=merged["ViewCount"].astype(int)
merged.dtypes

userID          int64
Reputation      int64
Views           int64
UpVotes         int64
DownVotes       int64
postID          int64
Score           int64
ViewCount       int64
CommentCount    int64
dtype: object